@{
    ViewBag.Title = "Neefun Swim";
}

<div>
    <h1>Neefun Swim</h1>
</div>

<div>
    <h3>@Html.ActionLink("Swim at Issaquah", "issaquah", "Swim")</h3>
    <ul>
        <li><b>Time:</b> Every Saturday 5pm-7pm</li>
        <li><b>Location:</b> Issaquah Julius Boehm Pool, 50 SE Clark St, Issaquah, WA 98027 (425) 837-3350 </li>
    </ul>
</div>
<div>
    <h3>@Html.ActionLink("Swim at Mercer Island", "mi", "Swim")</h3>
    <ul>
        <li><b>Time:</b> Monday and Thursday 6:30-7:30pm </li>
        <li><b>Location:</b> Mercer Island Country Club, 8700 SE 71st St, Mercer Island, WA 98040</li>
    </ul>
</div>

<h3>
    Neefun Swim 简介 (Introduction to Neefun Swim)：
</h3>
<div>
    <p>
        Neefun 游泳队是由一些热心于儿童教育的在校学生的家长发起组织。
        游泳队建立的宗旨不在于争夺名次，而是通过正确的游泳姿势，适当提高体能，
        通过游泳这一过程发展团队合作精神，树立积极向上的人生观，使游泳成为终身受用的运动。
    </p>
    <p>
        Neefun Swim is launched by a team of passionate parents and an energetic
        coach of strong backgrounds working with children.
        We believe swimming will not only help children build strong bodies,
        but also help them build strong minds.  Join Neefun Swim, have a fun and rewarding experience,
        and gain a positive personality.
    </p>

    <h4>主教练Joey Xiong (Head Coach)</h4>
    <p>
       主教练Joey Xiong前中国四川省游泳队，海军游泳集训队队员。师从中国第一个亚洲男子蛙王金浦。在海军队，与世界短泳冠军宁泽涛同项目训练。美国游泳协会教练员，美国幼儿教育专业。
    </p>
    <p>
        Neefun swim head coach Joey Xiong is experienced in teaching children
        at different levels and ages. She majors in children's education and
        loves to work with children. coach Joey is US Swimming certified and a
        former member of Sichuan Professional Swim Team in China.
    </p>

    <h4>伍兹教练 Coach Woods</h4>
    <p>
        伍兹教练曾任激流游泳队的第一主教练三年, 新奥尔良大学的主教练二十年, 迈阿密大学主教练五年。
        他培养出了二十多个世界排名游泳队员, 
        两个游泳队进入世界比赛, 
        十五个学生进入奥运预选赛, 
        一个学生获得1972年奥运会银牌, 
        两个学生进入世界团体队, 
        十七个学生进入全美高中决赛, 
        七名学生进入全美大学初级比赛。
    </p>
    <p>
        Coach Woods was the first head coach of the Riptide Swim Team for 3 years, 
        the head coach in University of New Orleans for 20 years, 
        and the Head Coach in University of Miami 5 years. 
        He has Developed over 20 World-Ranked Swimmers,
        2 World Game Team Members， 15 Olympic Trial Qualifiers, 
        1 Olympic Silver Medal Winner in 1972, 
        2 Student World Game Team Swimmers,
        17 High School All-Americans, 
        and 7 Junior College All-Americans.
    </p>
    <h4>Coach Elsa</h4>
    <p>
        Elsa在中国学会游泳,后来高中去了澳大利亚,在澳大利亚又学了一段时间游泳,转学去了加拿大，现在在美国。 她有丰富的教小孩的经验，中英文都非常流利。 
    </p>
    <p>
        Elsa learned swimming in China and continued learning swimming in Australia and Canada 
        before moved to the US. She has extensive experience teaching children and is fluent in both English and Chinese.
    </p>
</div>

<div>
    <h3>@Html.ActionLink("游泳成绩(Swim Result)", "SwimResult", "Swim")</h3>
</div>

