@{
    ViewBag.Title = "2015-2016游泳队(2015-2016 Swim Team)";
}

<div>
    <h1>Neefun 游泳项目(Neefun Swim Programs)(2015-2016)</h1>
</div>

<div>
    <h3>开始和结束日期(Beginning and End Date)</h3>
    <ul>Saturday Oct 10, 2015 - Saturday August 27, 2016</ul>

    <h3>游泳时间(Swimming Time)</h3>
    <ul>Every Saturday 5pm-7pm</ul>
</div>

<div>
    <h3>游泳池地址 (Swim Pool Location)</h3>
    <ul>
        <span>Issaquah Julius Boehm Pool, 50 SE Clark St, Issaquah, WA 98027 (425) 837-3350 </span>
    </ul>
</div>

<div>
    <h3>Fees</h3>
    <ul>
        <li>
            10次-20小时: $400, ($400 for 10 times/20 hours), $20/hour
        </li>
        <li>
            30次-60小时: $1,080, 之后每小时$18. ($1,080 for 30 times / 60 hours, $18 per hour to renew afterwards.)
        </li>
        <li>
            全年47次 / 94小时: $1,388 ($1,388 for the whole year, total 47 times/ 94 hours) ($14.77/hr)
        </li>
    </ul>
</div>

<div>
    <h3>申请办法(Application)</h3>

    <p>请下载下面的表格， 打印填写. 老队员只需第一张表  (please download and fill the forms below. Existing member only need the first form )</p>
    <ul>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistration.pdf">Registration Form</a></li>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
    </ul>   
    <p>
        You may either email the copy of the signed forms to gemen88@gmail.com or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
    </p>
    <p>老队员请发email到fastswimfast@gmail.com，然后由教练分配训练组 (Existing member please email to fastswimfast@gmail.com, so the coach can assign the student to appropriate training group)</p>
</div>

<div>
    <h3>
        联系方式 (Contact)：
    </h3>
    <ul>
        <li>
            Johnny 425-516-1910 gemen88@gmail.com
        </li>
        <li>
            Joey 206-466-9580 fastswimfast@gmail.com
        </li>
    </ul>
</div>

<h3>
    Neefun 游泳队简介 (About Neefun Swim Team)：
</h3>
<div>
    <p>
        Neefun 游泳队是由一些热心于儿童教育的在校学生的家长发起组织。
        游泳队建立的宗旨不在于争夺名次，而是通过正确的游泳姿势，适当提高体能，
        通过游泳这一过程发展团队合作精神，树立积极向上的人生观，使游泳成为终身受用的运动。
    </p>
    <p>
        主教练Joey Xiong前中国四川省游泳队，海军游泳集训队队员。师从中国第一个亚洲男子蛙王金浦。在海军队，与世界短泳冠军宁泽涛同项目训练。美国游泳协会教练员，美国幼儿教育专业。
    </p>
    <p>
        Neefun Swim is launched by a team of passionate parents and an energetic
        coach of strong backgrounds working with children.
        We believe swimming will not only help children build strong bodies,
        but also help them build strong minds.  Join Neefun Swim, have a fun and rewarding experience,
        and gain a positive personality.
    </p>
    <p>
        Neefun swim head coach Joey Xiong is experienced in teaching children
        at different levels and ages. She majors in children's education and
        loves to work with children. Joey is a US Swimming certified coach and a
        former member of a professional swim team of the Sichuan province in China.
    </p>

</div>

<div>
    <h3>@Html.ActionLink("游泳成绩", "SwimResult", "Swim")</h3>
</div>
