@{
    ViewBag.Title = "游泳项目";
}

<div>
    <h1>Neefun 游泳项目(Neefun Swim Programs)(2015-2016)</h1>
</div>

<div>
    <h3>开始和结束日期(Beginning and End Date)</h3>
    <ul>Tuesday September 8, 2015 - Saturday June 18, 2016</ul>
</div>

<div>
    <h3>游泳池地址 (Swim Pool Location)</h3>
    <ul>
        September and October: <a href="http://www.somersetrec.org/"><span>Somerset Recreation Club</span></a><span> 4445 Somerset Blvd SE, Bellevue, WA 98006 (425) 747-5575</span>
    </ul>
    <ul>
        November to June: 待定(TBD)
    </ul>
</div>


<div>
    <h3>游泳私教课(一对一) Private Swim Lesson(One on One) </h3>
    <ul>每节课 30 minutes per class</ul>
    <ul>每节课$40, 要求至少报十次课$400, 以后每次$40。($40 per class, need to register at least 10 classes for $400, $40 for each additional class afterwards) </ul>
    <table>
        <tr><td>Monday   </td><td>No class     </td></tr>
        <tr><td>Tuesday  </td><td>7:30pm-8:00pm</td></tr>
        <tr><td>Wednesday</td><td>7:30pm-8:00pm</td></tr>
        <tr><td>Thursday </td><td>7:30pm-8:00pm</td></tr>
        <tr><td>Friday   </td><td>No class     </td></tr>
        <tr><td>Saturday </td><td>3:00pm-3:30pm</td></tr>
        <tr><td>Saturday </td><td>3:45pm-4:15pm</td></tr>
        <tr><td>Saturday </td><td>4:30pm-5:00pm</td></tr>
        <tr><td>Sunday   </td><td>No class     </td></tr>
    </table>
</div>


<div>
    <h3>游泳私教课(2-4 个学生) Private Swim Lesson 2-4 students </h3>
    <ul>每节课 30 minutes per class</ul>
    <ul>每节课$25, 要求至少报十次课$250, 以后每次$25。($25 per class, need to register at least 10 classes for $250, $25 for each additional class afterwards) </ul>
    <table>
        <tr><td>Monday   </td><td>No class     </td></tr>
        <tr><td>Tuesday  </td><td>7:30pm-8:00pm</td></tr>
        <tr><td>Wednesday</td><td>7:30pm-8:00pm</td></tr>
        <tr><td>Thursday </td><td>7:30pm-8:00pm</td></tr>
        <tr><td>Friday   </td><td>No class     </td></tr>
        <tr><td>Saturday </td><td>3:00pm-3:30pm</td></tr>
        <tr><td>Saturday </td><td>3:45pm-4:15pm</td></tr>
        <tr><td>Saturday </td><td>4:30pm-5:00pm</td></tr>
        <tr><td>Sunday   </td><td>No class     </td></tr>
    </table>
</div>

<div>
    <h3>2015-2016游泳队(2015-2016 Swim Team)</h3>
    <ul>
        <li>
            50小时$1,000, 之后每小时$20. ($1,000 for 50 hours, $20 per hour to renew afterwards. no refund for unused hours at the end) 
        </li>
        <li>
            100小时$1,700, 之后每小时$17. ($1,700 for 100 hours, $17 per hour to renew afterwards. no refund for unused hours at the end)
        </li>
        <li>
            全学年(200多小时)$2,500 ($2,500 for the whole year, more than 200 hours).
        </li>
    </ul>
    <table>
        <tr><td>Monday   </td><td>No class      </td><td>     </td></tr>
        <tr><td>Tuesday  </td><td>8:00pm-9:00pm </td><td>1 hr </td></tr>
        <tr><td>Wednesday</td><td>8:00pm-9:00pm </td><td>1 hr </td></tr>
        <tr><td>Thursday </td><td>8:00pm-9:00pm </td><td>1 hr </td></tr>
        <tr><td>Friday   </td><td>No class      </td><td>     </td></tr>
        <tr><td>Saturday </td><td>3:00pm-5:00pm </td><td>2 hrs</td></tr>
        <tr><td>Sunday   </td><td>No class      </td><td>     </td></tr>
    </table>
</div>

<div>
    <h3>申请办法(Application)</h3>

    <p>请下载下面的表格， 打印填写. 老队员只需第一张表  (please download and fill the forms below. Existing member only need the first form )</p>
    <ul>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistration.pdf">Registration Form</a></li>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
    </ul>   
    <p>
        You may either email the copy of the signed forms to gemen88@gmail.com or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
    </p>
    <p>老队员请发email到fastswimfast@gmail.com，然后由教练分配训练组 (Existing member please email to fastswimfast@gmail.com, so the coach can assign the student to appropriate training group)</p>
</div>

<div>
    <h3>
        联系方式 (Contact)：
    </h3>
    <ul>
        <li>
            Johnny 425-516-1910 gemen88@gmail.com
        </li>
        <li>
            Joey 206-466-9580 fastswimfast@gmail.com
        </li>
    </ul>
</div>

<h3>
    Neefun 游泳队简介 (About Neefun Swim Team)：
</h3>
<div>
    <p>
        Neefun 游泳队是由一些热心于儿童教育的在校学生的家长发起组织。
        游泳队建立的宗旨不在于争夺名次，而是通过正确的游泳姿势，适当提高体能，
        通过游泳这一过程发展团队合作精神，树立积极向上的人生观，使游泳成为终身受用的运动。
    </p>
    <p>
        主教练Joey Xiong前中国四川省游泳队，海军游泳集训队队员。师从中国第一个亚洲男子蛙王金浦。在海军队，与世界短泳冠军宁泽涛同项目训练。美国游泳协会教练员，美国幼儿教育专业。
    </p>
    <p>
        Neefun Swim is launched by a team of passionate parents and an energetic
        coach of strong backgrounds working with children.
        We believe swimming will not only help children build strong bodies,
        but also help them build strong minds.  Join Neefun Swim, have a fun and rewarding experience,
        and gain a positive personality.
    </p>
    <p>
        Neefun swim head coach Joey Xiong is experienced in teaching children
        at different levels and ages. She majors in children's education and
        loves to work with children. Joey is a US Swimming certified coach and a
        former member of a professional swim team of the Sichuan province in China.
    </p>

</div>

<div>
    <h3>@Html.ActionLink("游泳成绩", "SwimResult", "Swim")</h3>
</div>
