@{
    ViewBag.Title = "游泳项目";
}

<div>
    <h1>Neefun 游泳项目 (Swim Programs)</h1>
</div>


<div>
    <h3>游泳池地址 (Swim Pool Location)</h3>
    <p>
        <a href="http://www.somersetrec.org/"><span>Somerset Recreation Club</span></a><span> 4445 Somerset Blvd SE, Bellevue, WA 98006 (425) 747-5575</span>
    </p>
</div>


<div>
    <h3>游泳私教课 (Private Swim Lesson)</h3>
    <ul>
        <li>
            Session 1： $140 (5/30，6/6，6/13，6/20）8:00-8:30 pm
        </li>
        <li>
            Session 2： $140 (5/30，6/6，6/13，6/20）8:30-9:00 pm
        </li>
        <li>
            Session 3： $140 (6/27，7/11，7/18，7/25）8:00-8:30 pm
        </li>
        <li>
            Session 4： $140 (6/27，7/11，7/18，7/25）8:30-9:00 pm
        </li>
    </ul>
</div>

<div>
    <h3>夏季游泳队(Summer Swim Team)</h3>
    <table>
        <tr><td>Wk</td><td>Sun</td><td>Mon  </td><td>Tue  </td><td>Wed  </td><td>Thu  </td><td>Fri  </td><td>Sat</td></tr>
        <tr><td>  </td><td>   </td><td>8-9pm</td><td>8-9pm</td><td>8-9pm</td><td>8-9pm</td><td>8-9pm</td><td>   </td></tr>
        <tr><td> 1</td><td>   </td><td>5/11 </td><td>5/12 </td><td>5/13 </td><td>     </td><td>5/15 </td><td>   </td></tr>
        <tr><td> 2</td><td>   </td><td>5/18 </td><td>5/19 </td><td>5/20 </td><td>     </td><td>5/22 </td><td>   </td></tr>
        <tr><td> 3</td><td>   </td><td>5/25 </td><td>5/26 </td><td>5/27 </td><td>     </td><td>5/29 </td><td>   </td></tr>
        <tr><td> 4</td><td>   </td><td>6/1  </td><td>6/2  </td><td>6/3  </td><td>     </td><td>6/5  </td><td>   </td></tr>
        <tr><td> 5</td><td>   </td><td>6/8  </td><td>6/9  </td><td>6/10 </td><td>     </td><td>6/12 </td><td>   </td></tr>
        <tr><td> 6</td><td>   </td><td>6/15 </td><td>6/16 </td><td>6/17 </td><td>     </td><td>6/19 </td><td>   </td></tr>
        <tr><td> 7</td><td>   </td><td>6/22 </td><td>6/23 </td><td>6/24 </td><td>     </td><td>6/26 </td><td>   </td></tr>
        <tr><td> 8</td><td>   </td><td>6/29 </td><td>6/30 </td><td>7/1  </td><td>     </td><td>7/3  </td><td>   </td></tr>
        <tr><td> 9</td><td>   </td><td>7/6  </td><td>7/7  </td><td>7/8  </td><td>     </td><td>7/10 </td><td>   </td></tr>
        <tr><td>10</td><td>   </td><td>7/13 </td><td>7/14 </td><td>7/15 </td><td>     </td><td>7/17 </td><td>   </td></tr>
        <tr><td>11</td><td>   </td><td>7/20 </td><td>7/21 </td><td>7/22 </td><td>     </td><td>7/24 </td><td>   </td></tr>
        <tr><td>12</td><td>   </td><td>7/27 </td><td>     </td><td>7/29 </td><td>7/30 </td><td>7/31 </td><td>   </td></tr>
        <tr><td>13</td><td>   </td><td> 8/3 </td><td>8/4  </td><td> 8/5 </td><td>     </td><td>8/7  </td><td>   </td></tr>
        <tr><td>14</td><td>   </td><td>8/10 </td><td>8/11 </td><td>8/12 </td><td>8/13 </td><td>8/14 </td><td>   </td></tr>
    </table>
    <br/>
    <ul>
        <li>
            十次(10class): $200 (10 classes, $20.00/class, pick any class before 8/14/2015)
        </li>
        <li>
            8周(8wk): &nbsp; &nbsp; &nbsp; $480 (32 classes, $15.00/class, pick 8 weeks during 5/11- 8/14)
        </li>
        <li>
            12周(12wk): &nbsp; $720 (48 classes, $15.00/class, pick 12 weeks during 5/11- 8/14)
        </li>
        <li>
            14周(14wk): &nbsp; $770 (57 classes, $13.50/class, every week during 5/11- 8/14)
        </li>
    </ul>
</div>

<div>
    <h3>申请办法(Application)</h3>
    <p>请下载下面的表格， 打印填写 (Please download and fill the forms below)</p>
    <ul>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistration.pdf">Registration Form</a></li>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
    </ul>
    <p>
        You may either email the copy of the signed forms to gemen88@gmail.com or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
    </p>
</div>

<div>
    <h3>
        联系方式 (Contact)：
    </h3>
    <ul>
        <li>
            Johnny 425-516-1910 gemen88@gmail.com
        </li>
        <li>
            Joey 206-466-9580 fastswimfast@gmail.com
        </li>
    </ul>
</div>

<h3>
    Neefun 游泳队简介 (About Neefun Swim Team)：
</h3>
<div>
    <p>
        Neefun 游泳队是由一些热心于儿童教育的在校学生的家长发起组织。
        游泳队建立的宗旨不在于争夺名次，而是通过正确的游泳姿势，适当提高体能，
        通过游泳这一过程发展团队合作精神，树立积极向上的人生观，使游泳成为终身受用的运动。
    </p>
    <p>
        主教练Joey Xiong前中国四川省游泳队运动员，美国游泳协会教练员，美国幼儿教育专业。
    </p>
    <p>
        Neefun Swim is launched by a team of passionate parents and an energetic
        coach of strong backgrounds working with children.
        We believe swimming will not only help children build strong bodies,
        but also help them build strong minds.  Join Neefun Swim, have a fun and rewarding experience,
        and gain a positive personality.
    </p>
    <p>
        Neefun swim head coach Joey Xiong is experienced in teaching children
        at different levels and ages. She majors in children's education and
        loves to work with children. Joey is a US Swimming certified coach and a
        former member of a professional swim team of the Sichuan province in China.
    </p>

    @Html.ActionLink("游泳成绩", "SwimResult", "Swim")

</div>
