@{
    ViewBag.Title = "游泳项目";
}

<h2>游泳项目</h2>
<div>
    <ul>
        <li>@Html.ActionLink("春季游泳队", "springteam", "Swim")</li>
        <li>@Html.ActionLink("夏季游泳队", "summerteam", "Swim")</li>
        <li>@Html.ActionLink("游泳小班", "grouplesson", "Swim")</li>
    </ul>
</div>

<div>
    <p>
        Neefun FAST 游泳队是由一些热心于儿童教育的在校学生的家长发起组织。 游泳队建立的宗旨不在于争夺名次，而是通过正确的游泳姿势，适当提高体能，通过游泳这一过程发展团队合作精神，树立积极向上的人生观，使游泳成为终身受用的运动。
    </p>

    <p>
        Neefun FAST Swim is launched by a team of passionate parents and an energetic coach of strong backgrounds working with children. We believe swimming will not only help children build strong bodies, but also help them build strong minds.  Join FAST Swim, have a fun and rewarding experience, and gain a positive personality.
    </p>
</div>

<div>
    <p>
        主教练Joey Xiong前中国四川省游泳队运动员，美国游泳协会教练员，美国幼儿教育专业。
    </p>

    <p>
        Neefun FAST swim head coach Joey Xiong is experienced in teaching children at different levels and ages. She majors in children's education and loves to work with children. Joey is a US Swimming certified coach and a former member of a professional swim team of the Sichuan province in China.
    </p>

    <p>
        Go FAST!
    </p>
</div>





