@{
    ViewBag.Title = "Neefun Swim at Issaquah";
}

<div>
    <h1>Neefun Swim at Issaquah</h1>
</div>

<div>
    <h3>游泳时间地点(Swimming Time and Address)</h3>
    <ul>5:00-7:00 pm Saturdays</ul>
    <ul>Issaquah Julius Boehm Pool, 50 SE Clark St, Issaquah, WA 98027 (425) 837-3350 (indoor pool)</ul>

    <h3>游泳队 Swim Team 5:00-7:00 pm (2 hours per class ) </h3>
    <ul>
        <li>
            $400 for 20 hours 
        </li>
    </ul>

    <h3>游泳队 Swim Team 6:00-7:00 pm (1 hour per class ) </h3>
    <ul>
        <li>
            $400 for 20 hours
        </li>
    </ul>

    <h3>游泳小班 Small Group Lesson 5:00-6:00 pm  (1 hour per class ) </h3>
    <ul>
        <li>
            $350 for 10 hours
        </li>
    </ul>
</div>
