@{
    ViewBag.Title = "Neefun Swim at Issaquah";
}

<div>
    <h1>Neefun Swim at Issaquah</h1>
</div>

<div>
    <h3>游泳时间地点(Swimming Time and Address)</h3>
    <ul>5:00-7:00pm Saturdays</ul>
    <ul>Issaquah Julius Boehm Pool, 50 SE Clark St, Issaquah, WA 98027 (425) 837-3350 (indoor pool)</ul>

    <h3>游泳队Swim Team </h3>
    <ul>
        <li>
            $400 for 10 sessions(2 hours per session 5:00-7:00pm)
        </li>
        <li>
            $1,080 for 30 sessions (2 hours per session 5:00-7:00pm)
        </li>
    </ul>
    <h3>游泳预备队Pre-Swim Team</h3>
    <ul>
        <li>
            $400 for 10 sessions (75 mintues per session, 5:45-7:00pm)
        </li>
    </ul>
    <h3>游泳小班课 Small Group Lesson</h3>
    <ul>
        <li>
            $300 for 10 lessons (40 mintues per lesson, 5:00-5:40pm)
        </li>
    </ul>
    <h4>
        All registered swim students are automatically enrolled in @Html.ActionLink("Neefun School", "Index", "Home") and are entitled to the benefit for students and parents.
    </h4>
</div>
