@{
    ViewBag.Title = "Neefun Swim at Mercer Island";
}

<div>
    <h1>Neefun Swim at Mercer Island</h1>
</div>

<div>
    <h3>游泳时间地点(Swimming Time and Address)</h3>
    <ul>6:30-7:30pm Monday and Thursday</ul>
    <ul>Mercer Island Country Club, 8700 SE 71st St, Mercer Island, WA 98040</ul>

    <h3>游泳队Swim Team</h3>
    <ul>
        <li>
            $1,080 for 60 hours
        </li>
        <li>
            $400 for 20 hours
        </li>
    </ul>

    <h3>游泳小班课 Small Group Lesson (60 minutes per lesson)</h3>
    <ul>
        <li>
            $350 for 10 hours
        </li>
    </ul>
    <h3>家长游泳 (Parent Swimming) (60 minutes per session)</h3>
    <ul>
        <li>
            $5 per session. Parents can swim at the Neefun reserved lane for parents during the swim session. Pay as you come.
        </li>
    </ul>

    <h4>
        All registered swim students are automatically enrolled in @Html.ActionLink("Neefun School", "Index", "Home") and are entitled to the benefit for students and parents.
    </h4>
</div>
