@{
    ViewBag.Title = "Neefun Swim at Mercer Island";
}

<div>
    <h1>Neefun Swim at Mercer Island</h1>
</div>

<div>
    <h3>游泳时间地点(Swimming Time and Address)</h3>
    <ul>6:30-7:30pm Monday, Wednesday, Friday (2016/9/7 - 2017/6/14 exculding holidays)</ul>
    <ul>Mercer Island Country Club, 8700 SE 71st St, Mercer Island, WA 98040</ul>

    <h3>游泳队 Swim Team </h3>
    <ul>
        <li>
            $2180 for the combined Issaquah & Mercer Island Season
        </li>

        <li>
            $1380 for the whole season (Mercer Island only)
        </li>
        <li>
            $380 for 20 hours
        </li>
        <li>
            $20 for 1 hour
        </li>
    </ul>

    <h3>游泳小班 Small Group Lesson 5:00-6:00 pm (1 hour per class ) </h3>
    <ul>
        <li>
            $350 for 10 hours
        </li>
    </ul>

    <h3>Private Lesson </h3>
    <ul>
        <li>
            $45 half hour
        </li>
        <li>
            $65 one hour
        </li>
    </ul>

</div>
