@{
    ViewBag.Title = "Neefun Swim at Somerset";
}

<div>
    <h1>Neefun Swim at Somerset</h1>
</div>

<div>
    <h3>游泳时间地点(Swimming Time and Address)</h3>
    <ul>7:30-9:30pm Tuesday and Friday (May 10- Jun 17)</ul>
    <ul>7:30-9:30pm Monday and Wednesday (Jun 27 - Auguest 31)</ul>
    <ul>Somerset Recreation Club, 4445 Somerset Blvd SE, Bellevue, WA 98006</ul>
    <h3>游泳队Swim Team (2 hours per class)</h3>
    <ul>
        <li>
            $400 for 20 hours
        </li>
    </ul>

    <h3>游泳小班课 Small Group Lesson (60 minutes per lesson)</h3>
    <ul>
        <li>
            $350 for 10 hours
        </li>
    </ul>

    <h4>
        All registered swim students are automatically enrolled in @Html.ActionLink("Neefun School", "Index", "Home") and are entitled to the benefit for students and parents.
    </h4>
</div>
