@{
    ViewBag.Title = "Neefun Swim at Somerset";
}

<div>
    <h1>Neefun Swim at Somerset</h1>
</div>

<div>
    <h3>游泳时间地点(Swimming Time and Address)</h3>
    <ul>7:00-9:00 pm Monday and Wednesday (Jun 27 - Auguest 31)</ul>
    <ul>Somerset Recreation Club, 4445 Somerset Blvd SE, Bellevue, WA 98006</ul>

    <h3>游泳队 Swim Team 7:00-9:00 pm (2 hours per class) </h3>
    <ul>
        <li>
            $400 for 20 hours
        </li>
    </ul>

    <h3>游泳队 Swim Team 7:00-8:00 or 8:00-9:00 pm (1 hour per class) </h3>
    <ul>
        <li>
            $400 for 20 hours
        </li>
    </ul>

    <h3>游泳小班 Small Group Lesson 7:00-8:00 or 8:00-9:00 pm (1 hour per class)</h3>
    <ul>
        <li>
            $350 for 10 hours
        </li>
    </ul>

</div>
