
@{
    ViewBag.Title = "春季游泳队";
}

<div>
    <h2>春季游泳队</h2>
</div>

<div>
    <h3><span>游泳池地址：</span></h3>
    <p>
        <a href="http://nhstc.com/"><span>Newport Hills Swim &amp; Tennis Club</span></a><span> 5464 119th Ave SE, Bellevue, WA 98006, (425) 746-9510</span>
    </p>
</div>

<div>
    <h3>游泳日历</h3>
</div>

<table>
    <tr><td>Wk</td><td>Sun        </td><td>Mon</td><td>Tue        </td><td>Wed</td><td>Thu        </td><td>Fri</td><td>Sat</td></tr>
    <tr><td>  </td><td>8:30-4:30pm</td><td>   </td><td>7:30-8:30pm</td><td>   </td><td>7:30-8:30pm</td><td>   </td><td>   </td></tr>
    <tr><td> 1</td><td>           </td><td>   </td><td>3/10       </td><td>   </td><td>3/12       </td><td>   </td><td>   </td></tr>
    <tr><td> 2</td><td>3/15       </td><td>   </td><td>3/17       </td><td>   </td><td>3/19       </td><td>   </td><td>   </td></tr>
    <tr><td> 3</td><td>           </td><td>   </td><td>3/24       </td><td>   </td><td>3/26       </td><td>   </td><td>   </td></tr>
    <tr><td> 4</td><td>           </td><td>   </td><td>3/31       </td><td>   </td><td>4/2        </td><td>   </td><td>   </td></tr>
    <tr><td> 5</td><td>           </td><td>   </td><td>4/7        </td><td>   </td><td>4/9        </td><td>   </td><td>   </td></tr>
    <tr><td> 6</td><td>           </td><td>   </td><td>4/14       </td><td>   </td><td>4/16       </td><td>   </td><td>   </td></tr>
    <tr><td> 7</td><td>           </td><td>   </td><td>4/21       </td><td>   </td><td>4/23       </td><td>   </td><td>   </td></tr>
    <tr><td> 8</td><td>           </td><td>   </td><td>4/28       </td><td>   </td><td>4/30       </td><td>   </td><td>   </td></tr>
    <tr><td> 9</td><td>           </td><td>   </td><td>5/5        </td><td>   </td><td>5/7        </td><td>   </td><td>   </td></tr>
</table>

<div>
    <h3>费用</h3>
</div>
<div>
    每次$20
</div>

<div>
    <h3>申请办法</h3>
</div>
<div>
    <p>请下载下面的表格， 打印填写</p>
    <ul>
        <li><a href="@Url.Content("~/File/Swim/SwimRegistation.pdf")">Registration Form</a></li>
        <li><a href="@Url.Content("~/File/Swim/ConcussionInfoSheet.pdf")">Concussion Information Sheet</a></li>
    </ul>
    <p>
        You may either email the copy of the signed forms to gemen88@gmail.com or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
    </p>
</div>

<div>
    <h3>
        联系方式：
    </h3>
    <ul>
        <li>
            Johnny 425-516-1910 gemen88@gmail.com
        </li>
        <li>
            Joey 206-466-9580 fastswimfast@gmail.com
        </li>
    </ul>
</div>


