@{
    ViewBag.Title = "夏季游泳队";
}
<div>
    <h2>夏季游泳队</h2>
</div>

<div>
    <h3><span>游泳池地址：</span></h3>
    <p>
        <a href="http://www.somersetrec.org/"><span>Somerset Recreation Club</span></a><span> 4445 Somerset Blvd SE, Bellevue, WA 98006 (425) 747-5575</span>
    </p>
</div>

<div>
    <h3>游泳日历</h3>
</div>

<table>
    <tr><td>Wk</td><td>Sun</td><td>Mon  </td><td>Tue  </td><td>Wed  </td><td>Thu  </td><td>Fri  </td><td>Sat</td></tr>
    <tr><td>  </td><td>   </td><td>8-9pm</td><td>8-9pm</td><td>8-9pm</td><td>8-9pm</td><td>5-6pm</td><td>   </td></tr>
    <tr><td> 1</td><td>   </td><td>5/11 </td><td>5/12 </td><td>5/13 </td><td>     </td><td>5/15 </td><td>   </td></tr>
    <tr><td> 2</td><td>   </td><td>5/18 </td><td>5/19 </td><td>5/20 </td><td>     </td><td>5/22 </td><td>   </td></tr>
    <tr><td> 3</td><td>   </td><td>5/25 </td><td>5/26 </td><td>5/27 </td><td>     </td><td>5/29 </td><td>   </td></tr>
    <tr><td> 4</td><td>   </td><td>6/1  </td><td>6/2  </td><td>6/3  </td><td>     </td><td>6/5  </td><td>   </td></tr>
    <tr><td> 5</td><td>   </td><td>6/8  </td><td>6/9  </td><td>6/10 </td><td>     </td><td>6/12 </td><td>   </td></tr>
    <tr><td> 6</td><td>   </td><td>6/15 </td><td>6/16 </td><td>6/17 </td><td>     </td><td>6/19 </td><td>   </td></tr>
    <tr><td> 7</td><td>   </td><td>6/22 </td><td>6/23 </td><td>6/24 </td><td>     </td><td>6/26 </td><td>   </td></tr>
    <tr><td> 8</td><td>   </td><td>6/29 </td><td>6/30 </td><td>7/1  </td><td>     </td><td>7/3  </td><td>   </td></tr>
    <tr><td> 9</td><td>   </td><td>7/6  </td><td>7/7  </td><td>7/8  </td><td>     </td><td>7/10 </td><td>   </td></tr>
    <tr><td>10</td><td>   </td><td>7/13 </td><td>7/14 </td><td>7/15 </td><td>     </td><td>7/17 </td><td>   </td></tr>
    <tr><td>11</td><td>   </td><td>7/20 </td><td>7/21 </td><td>7/22 </td><td>     </td><td>7/24 </td><td>   </td></tr>
    <tr><td>12</td><td>   </td><td>7/27 </td><td>     </td><td>7/29 </td><td>7/30 </td><td>7/31 </td><td>   </td></tr>
    <tr><td>13</td><td>   </td><td> 8/3 </td><td>8/4  </td><td> 8/5 </td><td>     </td><td>8/7  </td><td>   </td></tr>
    <tr><td>14</td><td>   </td><td>8/10 </td><td>8/11 </td><td>8/12 </td><td>8/13 </td><td>8/14 </td><td>   </td></tr>
</table>

<div>
    <h3>费用</h3>
</div>
<div>
    <ul>
        <li>
            $770:  14周(57 classes, $13.50/class, every week during 5/11- 8/14)
        </li>
        <li>
            $720:  12周(48 classes, $15.00/class, pick 12 weeks during 5/11- 8/14)
        </li>
        <li>
            $200:  任意十次(10 classes, $20.00/class, pick any class before 8/14/2015)
        </li>
    </ul>
</div>

<div>
    <h3>申请办法</h3>
</div>
<div>
    <p>请下载下面的表格， 打印填写</p>
    <ul>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistation.pdf">Registration Form</a></li>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
    </ul>
    <p>
        You may either email the copy of the signed forms to gemen88@gmail.com or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
    </p>
</div>

<div>
    <h3>
        联系方式：
    </h3>
    <ul>
        <li>
            Johnny 425-516-1910 gemen88@gmail.com
        </li>
        <li>
            Joey 206-466-9580 fastswimfast@gmail.com
        </li>
    </ul>
</div>


