@{
    ViewBag.Title = "夏季游泳队";
}
<div>
    <h2>游泳私教课</h2>
</div>

<div>
    <h3><span>游泳池地址：</span></h3>
    <p>
        <a href="http://www.somersetrec.org/"><span>Somerset Recreation Club</span></a><span> 4445 Somerset Blvd SE, Bellevue, WA 98006 (425) 747-5575</span>
    </p>
</div>

<div>
    <h3><span>费用和时间：</span></h3>
    <ul>
        <li>
            Session 1： $140:  (5/30，6/6，6/13，6/20）8:00-8:30 pm
        </li>
        <li>
            Session 2： $140:  (5/30，6/6，6/13，6/20）8:30-9:00 pm
        </li>
        <li>
            Session 3： $140:  (6/27，7/11，7/18，7/25）8:00-8:30 pm
        </li>
        <li>
            Session 4： $140:  (6/27，7/11，7/18，7/25）8:30-9:00 pm
        </li>
    </ul>
</div>

<div>
    <h3>申请办法</h3>
</div>
<div>
    <p>请下载下面的表格， 打印填写</p>
    <ul>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistration.pdf">Registration Form</a></li>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
    </ul>
    <p>
        You may either email the copy of the signed forms to gemen88@gmail.com or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
    </p>
</div>

<div>
    <h3>
        联系方式：
    </h3>
    <ul>
        <li>
            Johnny 425-516-1910 gemen88@gmail.com
        </li>
        <li>
            Joey 206-466-9580 fastswimfast@gmail.com
        </li>
    </ul>
</div>


