@{
    ViewBag.Title = "CanoeCamp";
}

<h2>独木舟夏令营 (Kayak and Canoe Summer Camp) </h2>

<div>
    <p>
        2015暑假即将来临。 Neefun 将给大家的夏令营的名单上增加新的选择。 这是一种全新的体验----划独木舟（Kayak 或者Canoe）！而且地点就在Bellevue。 想象一下，夏日泛舟于华盛顿湖上，学习各种Kayak 和Canoe的知识和划的技巧， 包括单人划，双人划.。这样，不仅可以锻炼身体，培养孩子多一项运动技能，为以后进入大学的简历上增加色彩， 而且可以 划过的水域有机会看到秃鹰，鱼鹰，海龟，水獭和海狸。
    </p>

    <p>
        地点：Enatai Beach Park:   3519 108th Ave SE Bellevue, WA 98004。
    </p>

    <p>
        要求：10-14岁。会游泳 (50 yard) 喜欢水上项目。
    </p>

    <p>
        费用：每周$355.
    </p>

    <p>
        时间：以下时间的9：00 am - 4：00 pm
    </p>
    <ul>
        <li>六月22-26</li>
        <li>六月29-七月3</li>
        <li>七月6-10</li>
        <li>七月27-31</li>
        <li>八月3-7</li>
        <li>八月10-14</li>
    </ul>

    <p>
        如有需要， 我们提供九点以前和四点以后托儿服务，每小时收费$20.
    </p>

    <p>
        申请者请填写如下表格：
    </p>
    <ul>
        <li><a href="@Url.Content("~/File/Canoe/Canoe_Camp_Registration.pdf")">Registration Form</a></li>
        <li><a href="@Url.Content("~/File/Canoe/Cascade_Waiver_2014.pdf")">Risk Waiver Form</a></li>
        <li><a href="@Url.Content("~/File/Canoe/Cascade_Parent_Permission_2014.pdf")">Parent Permission Form</a></li>
        <li><a href="@Url.Content("~/File/Canoe/Cascade_Medical_Release_2014.pdf")">Medical Release Form</a></li>
    </ul>

    <p>
        填完连同支票请寄：
    </p>

    <p>
        Neefun LLC, 15433 SE 42nd  St, Bellevue, WA 98006
    </p>
    <p>
        如有问题请打电话：425-516-1910 或邮件 gemen88@gmail.com
    </p>

</div>
