@{
    ViewBag.Title = "小学天才班考试夏令营";
}

<h2>小学天才班考试夏令营</h2>
<p>
    NeeFun 夏令营---在娱乐中学习，在身心健康的环境中提高技能。
    <br /><br />
    NeeFun 夏令营一个字：Fun。  四个字:  快乐学习。
    <br /><br />
    那，让我们看看在这2015年在轻松暑假里在NeeFun夏令营能学到什么呢？
    <br /><br />
    哦， 先看看我们的孩子适合报名吗？
    <br /><br />
    5-10岁， 孩子想进入Gifted Program (Bellevue学区强化班）或者想利用暑假在学习上领先一步， 想利用假期锻炼团队合作能力，培养好的学习习惯， 想在假期里学习和巩固游泳技能。
    <br />
    <br />
    哼，看NeeFun夏令营到底要想干些什么？
</p>
<ol>
    <li>
        由资深Enrichment老师一对一辅导，分数学和英文两部分。 一对一，就是根据每个学生不同的学习程度和特点施教。 通过大量练习发现问题和提高。老师数十年辅导这一年龄段学生，已有大量学生进入Gifted Program.
    </li>
    <li>
        由学习幼教专业在美大学生带领孩子团队活动，通过各种情感游戏让孩子们学会相互尊重，相互帮助，相互学习。进一步，学会如何表达自己，学会领导团队的技能。
    </li>
    <li>
        由NeeFun Fast游泳队教练辅导孩子们游泳动作， 打下以后参加游泳队训练的基本功。
    </li>
</ol>
<p>
    嗯， 不错。 看时间地点和收费是不是合适？
    <br /><br />
    以星期为单位， 一周五天。 早上九点到达Bellevue 148 Ave 20th-24th St 的Fred Meyer 附近的教室。 自带午饭。下午五点在Somerset游泳池接孩子回家。 每周收费$425. 自6月21日放假 到8月31日暑假共有10个星期，家长们要安排好哦。如有特殊情况无法以星期来上课的学生，以$90元一日计。
    <br /><br />
    啊，啊， 哪有报名？
    <br /><br />
    报名请电 425-210-9899 WangPeng， 425-499-6891 Sharlene. 暑假近在眼前，得抓紧时间报， 4月30日前报名者只需交$382.50 (10% off)!!!!
</p>