@{
    ViewBag.Title = "夏令营";
}

<h2>夏令营</h2>

<div>
    <ul>
        <li>
            @Html.ActionLink("独木舟夏令营", "CanoeCamp", "SummerCamp")
        <p>
            <br />
            主教练DAN HENDERSON曾作为国家皮划艇（独木舟）队教练带领美国队征战奥林匹克运动会， 具体简历如下：
            <br />
            DAN HENDERSON was nomimated by the Washington State Parks and Recreation Commission for the 2013 Boating Educator of the Year. He is also president of Cascade Canoe & Kayak Centers, Inc., one of the most popular outfitters in the Northwest, with two locations in the Puget Sound area. Henderson often speaks at paddle shows and symposiums and has written numerous articles for Wavelength, Canoe & Kayak, Sea Kayaker, and other publications. As the co-author of the International Canoe Federation Coaching Manual (the world and Olympic governing body for kayak and canoe racing) and many articles on paddling technique, as well as being a Master's candidate in Biomechanics with a focus on the kayak forward stroke, Dan is a world leader in writing, research, and understanding of kayak forward stroke efficiency.
            <br /><br />
        </p>
    </li>
    <li>@Html.ActionLink("小学天才班考试夏令营   ", "GiftedExamCamp", "SummerCamp")</li>
</ul>
</div>
