@{
    ViewBag.Title = "夏令营";
}

<h2>夏令营</h2>
<br /><br /><br />

<div class="row">
    <div class="col-sm-6">
        <h2>游泳夏令营</h2>
        <p>
            应一些家长要求，Neefun 决定开设2015年晚夏游泳夏令营。时间：7/27-7/31， 8/3-8/7， 8/10-8/14。早上8：30-下午5：30。 年龄：五岁以上儿童。有基本水性。内容：上午游泳基本训练及水上活动。下午：中文及中国文化学习及娱乐活动。个别需要基本英语补习的可以个别安排。地点：上年8：30将孩子送至Somerset Swimming Club.  下午5：30在BC （Bellevue College）Football Field 接， 教室紧邻BC。费用$325一星期
        </p>
        <strong>@Html.ActionLink("游泳夏令营报名详情", "SwimCamp", "SummerCamp")</strong>
    </div>
    <div class="col-sm-6">
        <img class="img-responsive" src="http://neefun.blob.core.windows.net/images/somerset_pool.jpg" alt="http://neefun.blob.core.windows.net/images/somerset_pool.jpg" />
    </div>
</div>

<br /><br /><br />

<div class="row">
    <div class="col-sm-6">
        <h2>独木舟夏令营</h2>
        <br /><br />
        主教练DAN HENDERSON曾作为国家皮划艇（独木舟）队教练带领美国队征战奥林匹克运动会， 具体简历如下：
        <br /><br />
        DAN HENDERSON was nomimated by the Washington State Parks and Recreation Commission for the 2013 Boating Educator of the Year. He is also president of Cascade Canoe & Kayak Centers, Inc., one of the most popular outfitters in the Northwest, with two locations in the Puget Sound area. Henderson often speaks at paddle shows and symposiums and has written numerous articles for Wavelength, Canoe & Kayak, Sea Kayaker, and other publications. As the co-author of the International Canoe Federation Coaching Manual (the world and Olympic governing body for kayak and canoe racing) and many articles on paddling technique, as well as being a Master's candidate in Biomechanics with a focus on the kayak forward stroke, Dan is a world leader in writing, research, and understanding of kayak forward stroke efficiency.
        <br /><br />
        <strong>@Html.ActionLink("独木舟夏令营报名详情", "CanoeCamp", "SummerCamp")</strong>
    </div>
    <div class="col-sm-6">
        <img class="img-responsive" src="http://neefun.blob.core.windows.net/images/Youth_Lessons1.jpg" alt="http://neefun.blob.core.windows.net/images/Youth_Lessons1.jpg" />
    </div>
</div>

