@{
    ViewBag.Title = "游泳夏令营";
}
<h2>游泳夏令营 (Swim Summer Camp) </h2>
<div>
    应一些家长要求，Neefun 决定开设2015年晚夏游泳夏令营。
    内容：上午游泳基本训练及水上活动。下午：中文及中国文化学习及娱乐活动。
    个别需要基本英语补习的可以个别安排。
    <br /><br />

    <h4>Drop Off 地点:</h4>
    上年8：30将孩子送至<a href="http://www.somersetrec.org/"><span>Somerset Recreation Club</span></a><span> 4445 Somerset Blvd SE, Bellevue, WA 98006</span>
    <br /><br />

    <h4>Pick up 地点:</h4>
    下午5：30在BC （Bellevue College）Football Field 接， 教室紧邻BC。

    <br /><br />
    <h4>要求：</h4>
    五岁以上儿童。有基本水性。
    <br /><br />

    <h4>费用：</h4>
    每周$325.
    <br /><br />

    <h4>时间：</h4>
    以下时间的8：30 am - 5：30 pm
    <ul>
        <li>7/27-7/31</li>
        <li>8/3-8/7</li>
        <li>8/10-8/14</li>
    </ul>

    <br />
    <h4>申请:</h4>
    申请者请填写如下表格：
    <ul>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistration.pdf">Registration Form</a></li>
        <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
    </ul>
    填完连同支票请寄：
    <br /><br />
    Neefun LLC, 15433 SE 42nd  St, Bellevue, WA 98006
    <br /><br />
    如有问题请打电话：425-208-1837 或邮件 gemen88@gmail.com
</div>
