@{
    ViewBag.Title = "无人机摄影";
}

<h2>无人机摄影</h2>

<div class="row">
    <div class="col-sm-6">
        不是执行高空侦察任务，而是低空飞行带着摄像机和照相机，为你浪漫的婚礼，为你蒸蒸日上的房地产事业服务。
        Neefun 和 Cascade Telemetry 公司共同推出这一特殊专业服务。
        <br /><br />
        房地产的中介们， 当客户把出售的房子交到你们手上，希望有更多的人更详细的了解房屋和周围的环境时，
        我们将为您提供房屋的空中三维全景鸟瞰图像。 具体的说， 为即将上市的房屋提供航拍服务，
        使您的房屋广告增加新的营销利器。我们也可以提供室内拍摄，摄像，测量房屋，以及房屋平面图。
        <br /><br />
        正在策划大型集会或精心准备婚礼的亲们，想象一下，期间头顶上一架小型飞机正为你们默默地，
        全方位地记录下这弥足珍贵的人生历史一刻。
        <br /><br />
        摄影是门古老的艺术，我们提供的服务是将这门艺术和现代科技的发展结合起来，
        使其360度全方位和数据化。 需要任何相应服务， 拨打电话或发邮件给我们，您的需求一定会得到相应的设计。
        <br /><br />
        <address>
            <strong>电话: </strong> 425.208.1837<br />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 206.466.9580<br />
            <strong>电邮: </strong><a href="mailto:gemen88@gmail.com">gemen88@gmail.com</a><br />
        </address>
    </div>
    <div class="col-sm-6">
        <iframe src="https://player.vimeo.com/video/99502297" 
                width="500" height="281" 
                frameborder="0" 
                webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    </div>
</div>

