@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    425.516.1910<br />
    206.466.9580
</address>

<address>
    <strong>Support:</strong> <a href="mailto:fastswimfast@gmail.com">fastswimfast@gmail.com</a>
    <strong>Marketing:</strong>   <a href="mailto:gemen88@gmail.com">gemen88@gmail.com</a><br />
</address>