@{
    ViewBag.Title = "Neefun School";
}
<h2>Neefun School 学校</h2>
<div>
    <h3>Welcome to Neefun School 欢迎来到Neefun学校</h3>
    <p>
        Neefun希望以微薄的力量，积极的努力和对未来乐观的态度能够服务我们的社区，
        帮助身边的朋友，促进不同文化的交流，
        随着我们的孩子们一起成长。我们注重随时发生的小事， 从小事做起。
        目前我们的项目：
    </p>
    <p>
        Neefun Severs our community through helping children to learn different cultures, to start with small things around us.
        The neefun school provide year round activities such as swimming, math class and
        seasonal activites such as kayaking and summer camp during the summer and skiing in the winter. Our program includes:
    </p>

    <div>
        <h3>Whole year program</h3>
        Tution: $1,288.        
        <ul>
            The whole year program include the following:
            <li>
                Swimming at Issaquah Julius Boehm Pool.
                $10 pool fee for each satruday for 2 hrs ($5/hr) is including in the programm fee (total 46 weeks).
                Each student is required to do two more group swimming duing weekdays.
                The pool fee for weekday exercise is not included in the tution.
                The will assign and check homework.
            </li>
            <li>
                Skiing at Snoquame West Summit January-March every two sundays. Additionl fee apply.
            </li>
            <li>
                Kayak at Enati beeach for one week. Additional fee apply.
            </li>
            <li>
                Golf lessions at New Castsal Golf course. Additional fee apply.
            </li>
            <li>
                Math tutoring every Wednesday.
            </li>
        </ul>
    </div>

    <div>
        <h3>Three quaters program</h3>
        Tution: $1,080.
        <ul>
            Three quaters program include the following:
            <li>
                Swimming at Issaquah Julius Boehm Pool.
                $10 pool fee for each satruday for 2 hrs ($5/hr) is including in the programm fee (total 30 weeks).
                Each student is required to do two more group swimming duing weekdays.
                The pool fee for weekday exercise is not included in the tution.
                The will assign and check homework.
            </li>
            <li>
                Skiing at Snoquame West Summit January-March every two sundays. Additionl fee apply.
            </li>
            <li>
                Golf lessions at New Castsal Golf course. Additional fee apply.
            </li>
            <li>
                Math tutoring every Wednesday. 
            </li>
        </ul>
    </div>

    <div>
        <h3>Two Month program</h3>
        Tution: $300.
        <ul>
            Two Month program include the following:
            <li>
                Swimming at Issaquah Julius Boehm Pool.
                $4 pool fee for each satruday for 40 minutes is including in the programm fee (total 10 weeks).
                Each student is required to do two more group swimming duing weekdays.
                The pool fee for weekday exercise is not included in the tution.
                The will assign and check homework.
            </li>
            <li>
                Golf lessions at New Castsal Golf course. Additional fee apply.
            </li>
            <li>
                Math tutoring every Wednesday.
            </li>
        </ul>
    </div>

    <div>
        <h3>Monthly program</h3>
        Tution: $400.
        <ul>
            Monthly program include the following:
            <li>
                Swimming at Issaquah Julius Boehm Pool.
                $10 pool fee for each satruday for 2 hrs ($5/hr) is including in the programm fee (total 5 weeks).
                Each student is required to do two more group swimming duing weekdays.
                The pool fee for weekday exercise is not included in the tution.
                The will assign and check homework.
            </li>
            <li>
                Golf lessions at New Castsal Golf course. Additional fee apply.
            </li>
            <li>
                Math tutoring every Wednesday.
            </li>
        </ul>
    </div>

    <div>
        <h3>申请办法(Application)</h3>

        <p>请下载下面的表格， 打印填写. 老队员只需第一张表  (please download and fill the forms below. Existing member only need the first form )</p>
        <ul>
            <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistration.pdf">Registration Form</a></li>
            <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
        </ul>
        <p>
            You may either email the copy of the signed forms or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
        </p>
    </div>

    <div>
        <h3>
            联系方式 (Contact)：
        </h3>
        <ul>
            <li>
                neefun@hotmail.com
            </li>
            <li>
                Johnny 425-516-1910
            </li>
            <li>
                Joey 206-466-9580
            </li>
        </ul>
    </div>

</div>

