@{
    ViewBag.Title = "Neefun Home";
}
<h2>Neefun Home</h2>
<div>
    <h3>欢迎来到Neefun的世界</h3>
    <p>
        Neefun希望以微薄的力量，积极的努力和对未来乐观的态度能够服务我们的社区，促进不同文化的交流，随着我们的孩子们一起成长。我们注重身边的小事， 从小事做起。 目前我们的项目：
    </p>
    <p>
        @Html.ActionLink("夏令营", "Index", "SummerCamp")
    </p>
    <p>
        @Html.ActionLink("游泳项目", "Index", "Swim")
    </p>
</div>

